# Прикладное программное обеспечение
#### Python для извлечения и обработки данных


## Ввод, вывод, целочисленная арифметика

*Автор: Татьяна Рогович, Александра Краснокутская НИУ ВШЭ*

### Функция ``print()``

Мы уже поговорили о том, что с помощью Python можно решать огромное количество задач. Мы начнем с очень простых и постепенно будем усложнять. Если кто-то из вас уже сталкивался с программированием (например, в школе), то вы помните, что обычно самой первой программой становится вывод "Hello, world". Попробуем сделать это в Python.

In [ ]:
print('Hello, world!')

Hello, world!

In [ ]:
print(1)

1

Поздравляем, вы теперь программисты!
Обратите внимание, что `"Hello, world!"` мы написали в кавычках, а единицу — нет. Это связанно с тем,
что в программировании мы имеем дело с разными типами данных. И Python будет воспринимать текст как текст,
только в том случае, если мы его возьмем в кавычки (неважно, одинарные или двойные). А при выводе эти кавычки отображаться уже не будут (они служат знаком для Python, что внутри них — текст).


`print()` — это функция, которая собственно выводит наш текст. Распознать функцию в питоне можно по скобкам после слова, внутри которых мы передаем аргумент, к которому эту функцию нужно применить (текст `"Hello, world"` или `1` в нашем случае).

In [ ]:
print(Hello, world!)

SyntaxError: invalid syntax (<ipython-input-3-d14e6f3d0ea2>, line 1)

Написали без кавычек — получили ошибку. Кстати, обратите внимание, что очень часто в тексте ошибки есть указание на то, что именно произошло, и можно попробовать догадаться, что же нужно исправить.

Иногда мы хотим комментировать наш код, чтобы я-будущий или наши коллеги поменьше задавались вопросом, почему мы что-то реализовали определенным образом. Комментарии можно писать прямо в коде, они не повлияют на работу программы, если их правильно оформить.

In [ ]:
# Обратите внимание: так выглядит комментарий - часть скрипта, которая не будет исполнена 
# при запуске программы.
# Каждую строку комментария мы начинаем со знака хэштега.

'''
Это тоже комментарий - обычно выделение тремя апострофами мы используем для тех случаев, 
когда хотим написать длинный, развернутый текст.
'''

print('Hello, world')

Hello, world

Следующая вещь, которую нужно знать про язык программирования —  как в нем задаются переменные. Переменные — это 
контейнеры, которые хранят в себе информацию (текстовую, числовую, какие-то более сложные виды данных). В Python
знаком присвоения является знак `=`.

In [ ]:
x = 'Hello, world!'
print(x)    # Обратите внимание, что результат вызова этой функции такой же, как выше, 
            # только текст теперь хранится внутри переменной.

Hello, world!

Python —  язык чувствительный к регистру. Поэтому, когда создаете/вызываете переменные или функции, обязательно используйте правильный регистр. Так, следующая строка выдаст ошибку.

In [ ]:
print(X) # Мы создали переменную x, а X не существует

NameError: name 'X' is not defined

Еще раз обратим внимание на ошибку. `NameError: name 'X' is not defined` означает, что переменная с таким названием не была создана в этой программе. Кстати, обратите внимание, что переменные в Jupyter хранятся на протяжении всей сессии (пока вы работаете с блокнотом и не закрыли его), и могут быть созданы в одной ячейке, а вызваны в другой. Давайте опять попробуем обратиться к `x`.

In [ ]:
print(x) # Работает!

Hello, world!

### Типы данных: целочисленные переменные (`integer`) и текстовые переменные (`string`)

Сегодня мы познакомимся только с двумя типами данных, с которыми умеет работать Python. 
Если вы вдруг знакомы с другими языками программирования, то стоит отметить, что типизация в Python — динамическая.Это значит, что вам не нужно говорить какой тип данных вы хотите положить в переменную — Python сам все определит. Проверить тип данных можно с помощью функции `type()`, передав ей в качестве аргумента сами данные или переменную.

**ЦЕЛЫЕ ЧИСЛА (INT, INTEGER):** 1, 2, 592, 1030523235 — любое целое число без дробной части.

In [ ]:
y = 2
print(type(2)) # type(2) Если написать без print(), то программа выведет 
print(type(y)) # type(y) только презультат последней команды

<class 'int'>
<class 'int'>

Обратите внимание — выше мы вызвали функцию внутри функции. 
`type(2)` возвращает скрытое значение типа переменной (`int` для `integer`). 
Чтобы вывести это скрытое значение в консоль — мы должны его "напечатать".

Самое элементарное, что можно делать в Python — использовать его как калькулятор. Давайте посмотрим, как
он вычитает, слогает и умножает.

In [ ]:
print(2 + 2)
print(18 - 9)
print(4 * 3)

4
9
12

С делением нужно быть немного осторожней. Существует два типа деления — привычное нам, которое даст в ответе дробь при делении 5 на 2, и целочисленное деление, в результате которого мы получим только целую часть частного.

In [ ]:
print(5 / 2)  # В результате такого деления получается другой тип данных (float), подробнее о нем поговорим позже.
print(type(5 / 2)) 
print(5 // 2)

2.5
<class 'float'>
2

А если нам надо как раз найти остаток от деления, то мы можем воспользоваться знаком модуло `%`.

In [ ]:
print(5 % 2)

1

Стоит заметить, что все эти истории работают и когда мы присваиваем числа переменным.

In [ ]:
a = 2
b = 3
print(a ** b)

# Изменится ли результат, если мы перезапишем переменную a?
a = 5
print(a ** b)

8
125

**ТЕКСТ (СТРОКИ) (STR, STRING):** любой текст внутри одинарных или двойных кавычек. 
Важно: если целое число мы возьмем в кавычки, то оно станет строкой. Ниже посмотрим, почему это проблематично.

In [ ]:
x = 'text'
print(type(x))
print(type('Hello, world!'))
print(type('2'))

<class 'str'>
<class 'str'>
<class 'str'>

Если попробовать сложить число-строку и число-число, то получим ошибку.

In [ ]:
print('2' + 3)

TypeError: must be str, not int

Еще раз обратим внимание на текст ошибки. `TypeError: must be str, not int` — `TypeError` означает, что данная команда не может быть исполнена из-за типа какой-то из переменных. В данном случаем видим, что что-то должно быть `"str"`, когда оно типа `"int"`. Давайте попробуем сделать 3 тоже строкой. Кстати, неважно какие вы используете кавычки (только если это не текст с кавычками внутри), главное, чтобы открывающая и закрывающая кавычки были одинаковые.

In [ ]:
print('2' + "3")

23

Такая операция называется контакенация (слиянием) строк.

In [ ]:
print(3 + '2')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Кстати, интересно, что если мы поменяем слагаемые местами, то значение ошибки тоже изменится. Это происходит потому, что Python делает вывод о том, какое действие мы хотели совершить, основываясь на первом слогаемом. В прошлый раз это была строка и Python не смог провести контакенацию для строки и числа. Теперь первое слогаемое — целое число, и Python выдает ошибку, что операция арифметического сложения невозможно между числом и строкой.

А вот умножить строку на число можно. Такая операция повторит нам строку заданное количество раз.

In [ ]:
print('2' * 3)

222

Операции со строками тоже работают, если строки лежат внутри переменных.

In [ ]:
word1 = 'John'
word2 = ' Brown'
print(word1 + word2)
word3 = word1 + word2 # Можем результат контакенации положить в новую переменную
print(word3)

John Brown
John Brown

Если мы хотим проверить, совпадает ли значение `word1 + word2` и `word3`, то можем использовать оператор сравнения `==`.

In [ ]:
word1 + word2 == word3

True

In [ ]:
print(type(word1 + word2 == word3))

<class 'bool'>

Команда выдла `True`, значит, наши строки идентичны.  Если посмотреть на тип этого значения, то получим `bool` (логический тип данных, о нем поговорим на последующих занятиях).

### Изменение типа переменных

В Python мы можем изменить тип переменной (если он удовлетворяет условиям). Так отличный кандидат на перевод из одного типа в другой — текстовая переменная, которая содержит число `('12242')`. Превратить строку в число можно с помощью функции `int()` и обратно с помощью функции `str()`.

In [ ]:
print(2 + int('2512')) # Нет ошибки!

2514

In [ ]:
print('abs' + str(123))

abs123

Обратите внимание: эти функции не меняют тип самих данных или переменных, в которых они хранятся. Если мы не перезапишем значение, то строка станет числом только в конкретной строчке команды, а ее тип не изменится.

In [ ]:
a = '2342123'
print(type(a))
print(2 + int(a))
print(type(a))

<class 'str'>
2342125
<class 'str'>

In [ ]:
a = int(a)     # Перезаписываем значение переменной
print(type(a)) # Теперь изменился и тип

<class 'int'>

### Функция `print()`: аргументы и параметры

На самом деле функция `print()` немного сложнее, чем то, что мы уже видели. Например, мы можем печатать одной функцией больше чем один аргумент и использовать разделители вместо пробелов.

In [ ]:
print('2 + 3 =', 2 + 3)
z = 5
print('2 + 3 =', z)

2 + 3 = 5
2 + 3 = 5

У функции `print()` есть параметры. Параметры — это такие свойства функций, которые задают значение невидимых нам аргументов внутри функции. Так существует параметр `sep` (separator), благодаря которому мы можем менять тип разделителя между аргументами `print()`. В качестве разделителя может выступать любая строка.  
Сравните:

In [ ]:
print('1', '2', '3')
print('1', '2', '3', sep='.')
print('1', '2', '3', sep='')

1 2 3
1.2.3
123

Параметр `end` задает то, что будет выведено в конце исполнения функции `print()`. По умолчанию там стоит 
невидимый символ `\n`, который осуществляет переход на новую строку. Мы можем заменить его на любую строку. 
Если мы хотим сохранить переход на новую строку — то обязательно прописываем наш невидимый символ внутри
выражения.

In [ ]:
print('1', '2', '3', sep='.', end='!')
print('2')  # Строки слились

print('1', '2', '3', sep='.', end='!\n')
print('2')  # Вывод на новой строке

1.2.3!2
1.2.3!
2

### Чтение строк и чисел с консоли (`input()`)

Познакомимся с функцией `input()` — ввод. Это функция позволяет нам просить
пользователя что-нибудь ввести или принять на ввод какие-то данные.

In [ ]:
x = input('Print something:')
print(x)

Print something:2
2

`'Print something:'` — аргумент функции `input()`, который будет отображаться в строке ввода. Он необязателен, но он может быть полезен для вас (особенно, если в задаче требуется ввести больше одной строки данных и нужно не запутаться).

Обратите внимание, что функция  `input()` все сохраняет в строковом формате данных. Но мы можем сделать из
числа-строки число-число с помощью функции `int()`. Введите `1` в обоих случаях и сравните результат.

In [ ]:
print(type(input()))
print(type(int(input())))

1
<class 'str'>
1
<class 'int'>

Давайте введем значения для двух переменных и сложим их.

In [ ]:
x = input('Input x value ')
y = input('Input y value ')
print(x + y) # Произошла склейка строк, по умолчанию input() сохраняет значение типа str

Input x value 2
Input y value 3
23

А теперь переведем оба ввода в целые числа.

In [ ]:
x = int(input('Input x value '))
y = int(input('Input y value '))
print(x + y) # Вот теперь произошло сложение чисел

Input x value 2
Input y value 3
5

Если мы попробуем сложить разные типы данных, получим ошибку.

In [ ]:
x = input('Input x value ')
y = int(input('Input y value '))
print(x + y)

Input x value 2
Input y value 3

TypeError: must be str, not int

## Задачи для тренировки
Часть из этих задач мы решим в классе. Но если мы даже не успеем — попытайтесь сделать их дома сами.

### Задание 1. Степень двойки

**ФОРМАТ ВВОДА**

+ Вводится целое неотрицательное число N (N≤100).

**ФОРМАТ ВЫВОДА**

+ Выведите 2^N.

**ПРИМЕР**    

Входные данные:  
2  
Вывод программы:  
4

In [ ]:
N = int(input()) # На вход подается число

4

In [ ]:
print(2**N) # Возведение в степень в Python осуществляется с помощью **

16

### Задание 2. Следующее и предыдущее
Напишите программу, которая считывает целое число и выводит текст, аналогичный приведенному в примере (важно в точности соблюдать вывод программы: обратите внимание на пробелы и на точки). Нельзя пользоваться конкатенацией строк, используйте print с несколькими параметрами.

**ФОРМАТ ВВОДА**

+ Вводится целое число (гарантируется, что число находится в диапазоне от 1 до 1000).

**ФОРМАТ ВЫВОДА**

+ Выведите две строки, согласно образцу.

**ПРИМЕР**  
  
Входные данные:  
179  

Вывод программы:  
The next number for the number 179 is 180.  
The previous number for the number 179 is 178.

In [ ]:
x = int(input()) # На вход подается число

179

In [ ]:
x1 = x+1  # Создадим число, которое больше введенного на 1
x1

180

In [ ]:
x2 = x-1  # Создадим число, которое меньше введенного на 1
x2

178

In [ ]:
# Можно запиать все агрументы через запятую, однако в таком случае перед точкой в конце будет пробел
print("The next number for the number ", x, " is ", x1,".")

The next number for the number  179  is  180 .

In [ ]:
# В данном слуаче + не сработает
print("The next number for the number", x, "is", x1 + ".")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
print("The next number for the number ", x, " is ", x1, end='.')

The next number for the number  179  is  180.

In [ ]:
# Либо можно использовать такой формат записи - в фигурных скобках указаны наши переменные
print(f'The next number for the number {x} is {x1}.')
print(f'The previous number for the number {x} is {x2}.')

The next number for the number 179 is 180.
The previous number for the number 179 is 178.

### Задание 3. Последняя цифра

Дано натуральное число. Выведите его последнюю цифру.

**ФОРМАТ ВВОДА**

Вводится единственное целое положительное число (гарантируется, что оно не превышает 10000).

**ФОРМАТ ВЫВОДА**

Выведите ответ на задачу.

**ПРИМЕР**   
Входные данные:  
179 

Вывод программы:  
9

In [ ]:
x=int(input())

179

In [ ]:
179/10  # Наше обычное деление

17.9

In [ ]:
179//10 # 179 делится на 10, но в итоге выводится только целое число без остатка

17

In [ ]:
179%10 # 179 делится на 10, но в итоге выводится только остаток от деления

9

In [ ]:
print(x %10)

9

### Задание 4. Сумма цифр трехзначного числа

Дано трехзначное число. Найдите сумму его цифр.

**ФОРМАТ ВВОДА**

+ Вводится целое положительное число. Гарантируется, что оно соответствует условию задачи.

**ФОРМАТ ВЫВОДА**

+ Выведите ответ на задачу.

**ПРИМЕР**  
  
Входные данные:  
179 

Вывод программы:  
17

In [ ]:
N = int(input())

175

In [ ]:
print(N // 100) # Первая цифра

1

In [ ]:
print(N // 10) 
print(N // 10 % 10) # Вторая цифра

17
7

In [ ]:
print(N%10) #Третья цифра

5

In [ ]:
n_1 = N // 100
n_2 = N // 10 % 10
n_3 = N%10
print(n_1+n_2+n_3)

13

### Задание 5. Стоимость покупки

Пирожок в столовой стоит A рублей и B копеек. Определите, сколько рублей и копеек нужно заплатить за N пирожков.

**ФОРМАТ ВВОДА**

Программа получает на вход три числа: A, B, N — целые, неотрицательные, не превышают 10000.

**ФОРМАТ ВЫВОДА**

Программа должна вывести два числа: стоимость покупки в рублях и копейках.

**ПРИМЕР**  
 
Входные данные:  
2  
50  
3  

Вывод программы:  
7 50

In [ ]:
A=int(input())
B=int(input())
N=int(input())

2
50
3

In [ ]:
(A*100 + B)*N # Сколько стоят пирожки в копейках

750

In [ ]:
print((A*100 + B)*N // 100) # Смотрим, сколько целых рублей в этой сумме копеек
print((A*100 + B)*N % 100) # Смотрим, сколько копеек останется, если убрать целые рубли в этой сумме копеек

7
50

In [ ]:
# В итоге вывод, который требуется по заданию 
print((A*100 + B)*N // 100, (A*100 + B)*N % 100)

7 50